*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:  'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.header{
  width: 100vw;
  height: 100vh;
  background: url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

header nav.navbar {
  z-index: 9999;
  background-color: rgba(0, 0, 0, .5);
}
.navbar{
    position: fixed;
    background: transparent;
    padding: 20px 0;
}
.navbar-brand{
    letter-spacing: 5px;
    
}
.navbar-brand a{
    font-size: 25px;

}
.navbar-nav li{
    padding-right: 10px;
    word-spacing: 8px;
    text-transform: uppercase;
    font-size: 15px;
}
   
header .header-content {
  position: absolute;
  z-index: 999;
  height: 300px;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header .header-content img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  border: 2px solid #FFF;
}
header .header-content .content {
  z-index: 999;
  margin-top: 20px;
  text-align: center;
  word-spacing: 5px;
  letter-spacing: 5px;
}

header .header-content .content h2 {

  color: #FFF;
  font-weight: 100;
  font-size: 1rem;
  font-family:  'Open Sans', sans-serif;
}
header .header-content .content h3 {
  color: #FFF;
  font-weight: 600;
  font-size: 4rem;
  font-family:  'Open Sans', sans-serif;
}


header .header-content .content p {
  font-size: 1.3rem;
  color: #FFF;
  font-weight: 500;
  font-family:  'Open Sans', sans-serif;

}

.btn2{
  border-radius: 10px;
  padding: 5px 10px;

}
.gallery{
  width: 100%;
  height: auto;
}
.gallery text{
  padding-top:150px;
}
.img:hover{
    transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
 .btn3{
   border-radius: 10px;
   position: relative;
   left:50%;
   
 }

.project-text{
    padding-top: 150px ;
    letter-spacing: 2px;
}
.projects h5{
    font-size: 40px;
    padding: 0 0 30px 0;  
  }

.work-box {
    margin-bottom: 3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    box-shadow: #aeaeae;
  }
  
  .work-box:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  
  .work-img {
    display: block;
    overflow: hidden;
  }
  
  .work-img img {
    transition: all 1s;
  }
  
  .work-content {
    padding: 2rem 3% 1rem 4%;
  }
  
  .work-content .w-more {
    color: #4e4e4e;
    font-size: .8rem;
  }
  
  .work-content .w-more .w-ctegory {
    color: #24b67e;
  }
  
  .work-content .w-like {
    font-size: 2.5rem;
    color: #24b67e;
    float: right;
  }
  
  .work-content .w-like a {
    color: #24b67e;
  }
  
  .work-content .w-like .num-like {
    font-size: .7rem;
  }
  
  .w-title {
    font-size: 1.2rem;
  }
  .btn4{
    border-radius: 10px;
    position: relative;
    left: 37%;
    top: 50%;
  }

#contact .card:hover i,#contact .card:hover h4{
	color: rgb(87, 153, 197);
}

